/*div {
  border: 1px solid black;
}*/

html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
  background-color: azure;
}
/*header styling*/
header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  margin-top: 1rem;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  align-items: center;
  height: 3rem;
  width: 80%;
  margin: auto;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav li {
  list-style: none;
  margin-right: 2rem;
}
/*end header styling*/

/*main banner styling*/
.main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  height: 31rem;
  background-size: cover;
  background-position: -10rem 0rem;
}
.slogan {
  background-color: white;
  margin-top: 10rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  width: 50%;
  float: right;
  position: relative;
  margin-right: 3rem;
}
/* end main banner styling*/

/*icons styling*/
.icons {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
}
.icon {
  height: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
/*end icons styling*/

/*info styling*/
.info {
  display: flex;
  margin-top: 9rem;
  justify-content: center;
  margin-bottom: 5rem;
}
.info h1 {
  width: 10rem;
  background-color: cadetblue;
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.25rem;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
.philosophy, .appointments {
  width: 35%;
}
.philosophy {
  margin-right: 2.5%;
}
.appointments {
  margin-left: 2.5%;
}
/*end info styling*/

/*footer styling*/

footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin-right: 1rem;
}
/*end footer styling*/
